<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', { title:"Pizzaria" })%>
  <body>
    <%- include('../includes/header')%>

    <h1>Olá <%= test %></h1>
    <ul>
      <% products.forEach(product=>{ %>
      <li><%= product %></li>
      <% }) %>
    </ul>

    <%- include('includes/bootstrap_scripts') %>
  </body>
</html>
