<!DOCTYPE html>
<html lang="en">
  <%- include('./shared/_head', { title: "Pizzaria" })%>
  <body>
    <%- include('./shared/_header')%>

    <h1>Olá <%= test %></h1>
    <ul>
      <% products.forEach(product=>{ %>
      <li><%= product %></li>
      <% }) %>
    </ul>

    <%- include('./shared/_bootstrap') %>
  </body>
</html>
