<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { title:"Sucesso" }) %>

  <body>
    <%- include('includes/header') %>

    <main class="container">
      <div class="alert alert-success" role="alert">
        Olá <%= nomeComprador %>,seu pedido da pizza <%= nomePizza %> foi feito
        com sucesso!
      </div>
    </main>

    <%- include('includes/bootstrap_scripts') %>
  </body>
</html>
