<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head')%>
  <body>
    <%- include('includes/header') %>

    <h1>Hello <%= test %></h1>
    <h2>Welcome to our pizzaria system!</h2>

    <% if (query.name) { %>
    <h2>We recieved the following params: <%= query.name %></h2>
    <% } %>

    <ul>
      <% products.forEach(product=>{ %>
      <li><%= product %></li>
      <% }) %>
    </ul>

    <%- include('includes/bootstrap_scripts') %>
  </body>
</html>
